@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans JP', system-ui, sans-serif;
  --font-mono: 'Noto Sans Mono', ui-monospace, monospace;
}

:root {
  --ui-container: 90rem;
}
